.main {
  display: flex;
  align-items: flex-start;
  margin: 12px;
  height: calc(100vh - 126px);
  overflow-x: auto;
}

::-webkit-scrollbar {
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00629a;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bce7ff63;
  border-radius: 10px;
}
