.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.489);
  top: 0;
  z-index: 10;
  transition: 0.5s;
}

.modal_header {
  display: block;
  padding: 1.3em;
}

.modal_header span {
  display: flex;
  align-items: center;
}

.modal_header span div {
  flex-grow: 2;
}

.modal_header p {
  display: inline-block;
  margin-left: 36px !important;
}

.main h1,
.main h2,
.main h3,
.main p {
  color: #172b4d;
  padding: 0;
  margin: 0;
}

.main h2 {
  font-size: 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  width: 80%;
}

.main input {
  padding: 0;
  border: 2px solid #388bff !important;
  border-radius: 5px;
  width: 80%;
  left: 0;
  top: 0;
  position: absolute;
  font-size: 20px;
  color: #172b4d;
  font-weight: bold;
}

.main p {
  font-size: 14px;
}

.mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  position: relative;
  height: 90%;
  width: 50%;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  transition: 0.5s;
}

.closeIcon {
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: 0.4s;
  z-index: 11;
}

.closeIcon:hover {
  color: black;
  transform: scale(1.2);
}

.content {
  display: flex;
}

.maincontent {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}

.modalsidebar {
  flex-basis: 200px;
  background-color: whitesmoke;
}

.icons {
  margin-right: 10px;
  font-size: 24px;
}

/* Description */

.maincontent span {
  width: 100%;
}

.icons_description {
  margin: 0 12px 0 20.8px;
  font-size: 24px;
}

.textarea_description {
  width: calc(100% - 20px);
  height: 80px;
  background-color: transparent;
  box-shadow: none;
  transition: 0.2s;
}
.textarea_description:focus {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.415);
}
